<%- include('partials/header', {showButtons: true}) %>
<div class="container">
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">
      You have to
      <a href="/log" class="alert-link">refresh this page</a> in order to see updates.
    </p>
  </div>
  <h1>StudentBot
    <small class="text-muted">imports statuses</small>
  </h1>

  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Start Time</th>
        <th>Faculty</th>
        <th>Requested Url</th>
        <th>Duration [s]</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% docs.forEach(function (status, index) { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= status.timeStart.toISOString() %></td>
          <td><%= status.faculty %></td>
          <td><%= status.url %></td>
          <td><%= (status.duration / 60).toFixed(2) %></td>
          <td><%= status.status %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('partials/footer') %>
